@charset "UTF-8";

.header {
    display: flex;
    justify-content: space-between;
}

.header-text {
    color: rgb(193, 243, 238);
    z-index: 1;
    font-family: roboto-condensed, sans-serif;
    font-weight: 400;
    font-size: 2vh;
    text-align: center;
    margin: 0;
    opacity: 1;
    transition: 150ms ease-in-out;
}

.header-text:hover{
    color: rgb(193, 243, 238);
    font-size: 3vh;
} 

.header-t {
    color: rgb(193, 243, 238);
    z-index: 1;
    font-family: roboto-condensed, sans-serif;
    font-weight: 400;
    font-size: 2vh;
    text-align: center;
    margin: 0;
    opacity: 1;
}

body {
    height: 100vh;
    background-color:rgb(224, 54, 32);
    margin: 0rem;
    overflow: hidden;
    display: grid;
    place-items: center;
}

a {
    text-decoration: none;
}

.line {
    display: flex;
    justify-content: space-between;
}

.word {
    color:rgb(193, 243, 238);
    font-size: clamp(2rem, 8vw, 10rem);
    font-family: roboto-mono, monospace;
    font-weight: 1000;
    line-height: 115%;
    margin: 0rem;
    text-transform: uppercase;
    transition: opacity 450ms ease;
}

#text:has(.scattered:hover)
.word:not(.scattered:hover) {
    opacity: 0.4;
    font-weight: 20;

}

.scattered span {
    display: inline-block;
}
  
.scattered > .outer {
    transition: transform 350ms ease;
}
  
.scattered:hover > .outer {
    transition-duration: 700ms;
}
  
.scattered:hover > .outer > .inner {
    animation: float 5s ease infinite;
}
  
.scattered:hover > .outer:nth-child(1) {
    transform: translate(-80%, -10%) rotate(8deg);
}
  
.scattered:hover > .outer:nth-child(2) {
    transform: translate(-40%, 20%) rotate(4deg);
}
  
.scattered:hover > .outer:nth-child(3) {
    transform: translate(-10%, 60%) rotate(-6deg);
}
  
.scattered:hover > .outer:nth-child(4) {
    transform: translate(0%, 8%) rotate(-8deg);
}
  
.scattered:hover > .outer:nth-child(5) {
    transform: translate(0%, -20%) rotate(5deg);
}
  
.scattered:hover > .outer:nth-child(6) {
    transform: translate(0%, 20%) rotate(-3deg);
}
  
.scattered:hover > .outer:nth-child(7) {
    transform: translate(0%, -40%) rotate(-5deg);
}
  
.scattered:hover > .outer:nth-child(8) {
    transform: translate(0%, 15%) rotate(10deg);
}
  
.scattered:hover > .outer:nth-child(9) {
    transform: translate(0%, -50%) rotate(8deg);
}
  
.scattered:hover > .outer:nth-child(10) {
    transform: translate(0%, 15%) rotate(-6deg);
}
  
